<div class="dashboard">
    <div class="container">
        <h1 class="mainHeading">
            User Overview
        </h1>
       <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="mainHeading">
                            Overall Progress
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            120%
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-md-3"><div class="iocnBox"></div></div>
                            <div class="col-md-9">In Progress</div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        34%
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
    <img src="./../../../../assets/images/product.png" alt="product" class="overallImg">
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4"> 
            <div class="card">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="mainHeading">
                            Product Analytics
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            10%
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-md-3"><div class="iocnBox"></div></div>
                            <div class="col-md-9">In Progress</div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        34%
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">                                                
                        <img src="../../../../assets/images/userPbar.png" alt="userPbar" class="overallImg">
                    </div>
                </div>
            </div>
         </div>
        <div class="col-md-4"> 
            <div class="card">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="mainHeading">
                            User  Analytics
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            10%
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-md-3"><div class="iocnBox"></div></div>
                            <div class="col-md-9">In Progress</div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        34%
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        
                                                                                                                                        
                        <img src="../../../../assets/images/overall.png" alt="overall" class="overallImg">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <section class="loanSection">
        <div class="container">
            <div class="mainHeading">Loan</div>
            <div class="loanCardSection">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <div class="loadCard ">
                         <img src="../../../../assets/images/coin.png" alt="">
                 
                                
                    <div class="subHeading">SME Loans</div>
                    <button class="btn btn-primary">Apply</button>


                    </div>
                   
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <div class="loadCard">
                        <img src="../../../../assets/images/receipt-minus.png" alt="">
                   

                    <div class="subHeading">Local  purchase order</div>
                    <a class="btn btn-primary ml-5">Apply</a>
                     </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <div class="loadCard">
                        <img src="../../../../assets/images/archive-book.png" alt="">
                        <div class="subHeading">Invoices</div>
                        <button class="btn btn-primary ">Apply</button>
                    </div>
                   
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="mixInfo">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-3">
                    <img src="./../../../../assets/images/mixColorImg.jpg"  alt="mixColorImg">
                </div>
                <div class="col-md-9">
                    <h1 class="mainHeading">
                        Lorem ipsum dolor 
                    </h1> 
                    <div class="mixPara">
                        Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes laoreet eget. Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend. Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus amet consectetur eu aliquam. Et nulla ut.
                    </div>
                </div>
            </div>
              
            <div class="row">
                    <div class="col-md-9">
                        <h1 class="mainHeading">
                            Lorem ipsum dolor 
                        </h1> 
                        <div class="mixPara">
                            Lorem ipsum dolor sit amet consectetur. Dictumst quis in dui fringilla id cras montes laoreet eget. Tristique justo cursus tortor arcu. Aliquam vivamus tempus nam in phasellus tristique eleifend. Morbi lobortis mattis et sit lectus placerat quisque. Urna viverra sagittis at mauris. At at risus amet consectetur eu aliquam. Et nulla ut.
                        </div>
                    </div>
                    <div class="col-md-3 ">
                       
                        <img src="./../../../../assets/images/mixColorImg.jpg" alt="mixColorImg">
                    </div>
            </div>
            <div class="row py-4">
                <div class="col-md-3 image-container  mb-4 mb-md-0">
                    <img src="./../../../../assets/images/mixColorImg.jpg"  alt="mixColorImg">
                </div>
                <div class="col-md-3  mb-4 mb-md-0 image-container">
                 
                    <img src="./../../../../assets/images/mixColorImg.jpg"  alt="mixColorImg">

                </div>
                <div class="col-md-3   mb-4 mb-md-0 image-container">
                  
                    <img src="./../../../../assets/images/mixColorImg.jpg"  alt="mixColorImg">

                </div>
                <div class="col-md-3 col-sm-12  mb-4 mb-md-0 image-container">
                  
                    <img src="./../../../../assets/images/mixColorImg.jpg"  alt="mixColorImg">
                </div>
            </div>
        </div>
    </section>
</div>
